div{
    display: inline-block;
    width: 10vw;
    background-color: aliceblue;
    border: 1px solid black;
    font-size: 16px;
    text-align: center;
    padding: 5vh 0;
}

div:hover {
    background-color: lightblue;
    cursor: pointer;
}

.restricted:hover{
    background-color: aliceblue;
    cursor: default;
}

div p {
    padding-top: 10px;
}


section{
    font-size: 0px;
}

#calendarHeader div{
    font-weight: bold;
    background-color: beige;
    border-radius: 10px;
}